.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    gap: 20px; /* Gap between grid items */
  }
  
  .box {
    background-color: var(--container-color);
    padding: 20px;
    /* border: 1px solid #ccc; */
    text-align: center;
    border-radius:20px;
    /* font-size: 1.2em; */


  }

  .grid-container-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; /* Gap between grid items */
    /* align-items: start; */
    flex-wrap: wrap;
    text-align:start;
    padding:20px;
  }
  .box-btn{
    /* padding: 1px; */
    border: 1px solid #ccc;
  }

  .tech{
    font-size:var(--largest-font-size);
    /* font-family:var(--secondary-font); */
    color:var(--primary-color);
    font-weight:700;
  }

  .skill__para{
    font-size:var(--largest-font-size);
    /* font-family:var(--secondary-font); */
    color:var(--primary-color);
    font-weight:700;
  }