.home{
    position: relative;
    min-height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro{
    max-width:540px;
    /* background-color:antiquewhite; */
    text-align: center;
}

.home__img{
    margin-bottom:1.5rem;
}

.home__name{
    font-size:2.25rem;
    font-weight:700;
    margin-bottom:0.5rem;
}

.home__socials{
    display:flex;
    coloum-gap:1.75rem;
    margin: 1.5rem 0;
}

.home-social-link{
    color:var(--title-color);
    font-size:1.3rem;
    transition: .3s;
}

.home__social-link:hover{
    color:hsl(43,100%,68%);
}

.scroll__down{
    position:absolute;
    bottom:2.5rem;
    left:0;
    width:100%;
}

.home_scroll-name{
    font-size:var(--small-font-size);
}

.mouse{
    border:2px solid #454360;
    display:block;
    height:1.6rem;
    width:1.25rem;
    margin:auto;
    margin-top:.75rem;
    border-radius:1rem;
    position: relative;
}

@keyframes ani-mouse{
    0%{
        top: 29%;
    }
    15%{
        top: 50%;
    }
    50%{
        top: 50%;
    }
    100%{
        top: 29%;
    }
}

.wheel{
    background-color: #454360;
    border-radius:100%;
    width:0.25rem;
    height:0.25rem;
    position:absolute;
    top:.5rem;
    left:50%;
    transform: translateX(-50%);
    animatation: ani-mouse 2s linear infinite;
}

.shapes{
    position:absolute;
    left:0;
    top:0;
    height:100%;
    width:100%;
}

.shape{
    position: absolute;
}

.s1{
    left:2%;
    top:10%;
}
.s2{
    left:29%;
    top:30%;
}
.s3{
    right:82%;
    top:20%;
}
.s4{
    left:26%;
    top:50%;
}.s5{
    left:52%;
    top:78%;
}.s6{
    left:72%;
    top:69%;
}.s7{
    left:79%;
    top:98%;
}.s8{
    right:12%;
    top:40%;
}.s9{
    right:2%;
    top:60%;
}.s10{
    left:42%;
    top:85%;
}
.s11{
    right:9%;
    top:24%;
}